table {
    max-height: 800px;
    text-align: center;
}
#navbar,
#result {
    margin-left: 120px;
}
#bit {
    margin-left: 120px;
}
th {
    padding: 12px;
    color: #330000;
}
td {
    padding: 1px;
}
#resulttable td {
    color: #330000;
    padding: 5px;
}
/*body{
	width: 100% !important;
    margin: 0 !important;
    border: none;
    display: block;
    padding: 0em 0 4px 0 !important;
    background:#1abc9c;
    min-height: 36em;
    font-family: 'Vollkorn', serif;
  color:#ecf0f1;
  text-shadow:0 0.1em 0.2em #008c8d;
}
h1{
	text-align:center;
	padding:10px;
}
p{
	padding: 20px;
	margin:30px;
}
#backbutton{
	margin: 50px;
	vertical-align:center;
}
#bit table{
  border-collapse:collapse;
  text-align:left;
  width:100%;
  margin:0;
  padding:0;
  background:#7f8c8d;
  max-height: 800px;
}
#bit{
  font:normal 12px/150% Arial, Helvetica, sans-serif;
  margin:0 auto;
  display:inline-block;
  left:45%;
  width:95%;
  height: 100%;
  padding:0%;
}
#bit table thead th{
  background-color:#7f8c8d;
  color:#242B2C;
  text-align:center;
  padding: 0.75em;
  font-family: 'Vollkorn', serif;
  font-weight: bold;
  font-size: 2em;
  height: 1.5em;
  vertical-align: top;
  border-left:0.25em double #95a5a6;
}
#bit table tbody td,
#bit table tbody tr{
  font-family: 'Vollkorn', serif;
  font-size:1em;
  border:none;
  padding:1.2px;
}
#bit table tbody tr:nth-child(odd){
  background:#ecf0f1;
  color:#242B2C;
}
#bit table tbody tr:nth-child(even){
  background:#bdc3c7;
  color:#242B2C;
}
#bit{
	 text-align: center;
    width: 50%;
    display: inline-block;
    position: absolute;
    padding-top: 1.2px;
}
#result{
position: absolute;
    text-align: center;
    top:60%;
    color: #242B2C;
    width: 20%;
    height: 14.5em;
    display: block;
    margin-left: 5%;
}
#result table {
	color: #242B2C;
}
#result table tbody tr:nth-child(odd){
  background:#ecf0f1;
  color:#242B2C;
}
#result table tbody tr:nth-child(even){
  background:#bdc3c7;
  color:#242B2C;
}

ul
{
    list-style-type: none;
}
#navbar{
	left:5%;
	position: fixed;
	display: inline-block;
	top:10%;
}
.button >a{
	color:white;
	}.button {
font-size: 1.5em;
font-color:white;
color: #fff;
padding: 12px 15px 12px 15px;
font-weight: 700;
text-decoration: none;
text-shadow: #757575 0px 1px 0px;
display: inline-block;
font-family: "Open Sans",Arial,Helvetica,sans-serif;
white-space: nowrap;
cursor: pointer;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
-moz-box-shadow: inset 0 1px 0 0 #78bbf0,0 0 0 3px rgba(0,0,0,0.1);
-webkit-box-shadow: inset 0 1px 0 0 #78bbf0,0 0 0 3px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 0 0 #78bbf0,0 0 0 3px rgba(0,0,0,0.1);
text-shadow: 0 1px 0 rgba(0,0,0,0.5);
background-image: linear-gradient(top,#4ea5eb 20%,#2072db 100%);
background-image: -o-linear-gradient(top,#4ea5eb 20%,#2072db 100%);
background-image: -moz-linear-gradient(top,#4ea5eb 20%,#2072db 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#4ea5eb),to(#2072db));
background-image: -ms-linear-gradient(top,#328fe6 20%,#328fe6 100%);
background-image: -webkit--gradient(linear,left top,left bottom,color-stop(0,#4ea5eb,color-stop(1,#2072db)));
background: #328fe6;
margin:5px 10px 10px 10px;
}
*/
