body{
	margin:0;
	padding: 0;
}
#navbar .col-md-2{
	background: #484848;
	color:white;
	margin-top: 0;
	padding: 15px;
}
.page-header{
	margin:0;
}

td{
  padding: 1px;
}
th{
 color: #330000; 
 padding: 5px;
}
#resulttable {
 text-align: center;
 padding: 5px;
}
#bit8 tr td{
	color: green;
}

#binaryrep td{
	padding: 20px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
}
input {
  display: inline-block;
  float: left;
}